/* _appearances.scss, provides styling for classes. */


.callout {
  color: mix($option, black, 60%);
  font-size: 110%;
  font-weight: 600;
  
}

.landing .callout {
  color: $option;
  @include textShadow(mix($option, black));
}

.icon {
  @extend %icon;
}