/*Note that minimal nesting is used throughout for maintenance purposes. */
  
.navbar {
  /*Key Definition:  A justify aligned grid on anything wider than palm.  A hidden (icon summoned) top bar on palm */ 
  
  /*Define the palm perspective as default to allow for less work on palm CPUs */ 
  
  
  /*Define the >palm perspective */

  @include applyWiderThan($knight);
  width: 100%;
  font-size: 0.1px;
  text-align: justify;
  padding: .6rem .125rem;;
  &:after { /* Used to create the Justify grid */
    display: inline-block;
    width: 100%;
    content: '';  }

  /* Borders */
  border: 2px mix($bg_dark, white, 80%) solid; 
    border-left: none;
   border-right: none;
   
   //Micro-adjustments for screen variations.

  
   @include applyWiderThan($king) { 
    padding: .5rem .125rem .4rem .125rem;
   }
   
   @include applyWiderThan($beekeeper) {
    padding: .6rem .125rem;;
   }

}

  .navItem {  /* individual List Items are *only* Containers for buttons.
    /*Key Definition */
    list-style: none;   
    margin: 0; 
    padding: 0;
    
    @include applyWiderThan($knight) { /* Turn on inline for anything wider than a palm device */
      display: inline-block;  }}
      
.navItem a {  /* navItem Anchors are buttons. */
  /*key definition */
  position: relative;
  background-color: $option;
  border-radius: 3%;
 
  /*default padding for most settings, good width and height */
  line-height: 1rem;
  @extend %titleFont; /* Grab font-face and a few other key definitions */
  font-weight: 800;  /* Override GLOBAL weight for the buttons, font-size handled in MQs */
  

  text-decoration: none;
  @include textShadow($option, 0px, 0px, 0px); /* Invisible text-shadow makes the transition sexier. */


  /* Provide Soap Bar text */
  color: rgba(0,0,0, .4);
  transition: all .25s;

  &:hover { /* Define the hover state: raised text and a slightly lighter bg */
    color: rgba(0,0,0, .6); 
    @include textShadow(mix($option, black, 90%), 1px, 2px, 1px);
    background-color: mix($option, white, 80%);} 


  @include applyWiderThan($knight) {
    font-size: .9rem; 
    padding: .3rem .2rem; }

  @include applyWiderThan($bishop) {
  	font-size: 1.25rem;
    padding: 0 .4rem;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  
  @include applyWiderThan($king) {
    font-size: 1.25rem;
    padding: 0.2rem 1rem; }
  
  @include applyWiderThan($beekeeper) {
    padding: .125rem 2rem; }
}
    