/* _structure.scss  provides structural elements for layout. */
  
html {
	background-color:  mix($bg_dark, white);
  height: 99%; 
  font:  {
    size: 16px;
  }
}

body {
  height: 100%;
}


.navbar, .landing, main {
  box-sizing: border-box;
}

.navbar {
  background-color: $bg_dark;
  position: absolute;
	top: 17.05rem;
	padding: .25rem .125rem;;
	left: 0;
	right: 0;
	
	font-size: 0.1px;
	text-align: justify;

  width: 100%;
  
	&:after {
		display: inline-block;
  	width: 100%;
    content: ''; }

   @include applyWiderThan($king) { 
    padding: .5rem .125rem .4rem .125rem;
   }
   
   @include applyWiderThan($beekeeper) {
    padding: .25rem .125rem;;
   }


	@include applyNarrowerThan($king) {
	 top: 17.05rem; }
	 
 @include applyNarrowerThan($bishop) {
  top: 15.55rem; 
  padding: .8rem .125rem; }


	& li {
		margin: 0;
		padding: 0;
		display: inline-block;
		
		@include applyNarrowerThan($knight) {
		  display: block;
		}
   list-style: none;

    & a {
    	@extend %titleFont;
    	text-decoration: none;
 
    	position: relative;
 
    	color: rgba(0,0,0, .4);
 
    	transition: all .25s;
 
    border-radius: 3%;
    font: {
      size: 1.5rem;
      weight: 800;     }

    padding: .125rem 2rem; 

    background-color: $option;

    @include textShadow($option, 0px, 0px, 0px);
    @include applyWiderThan($bishop) {
      font-size: 1.25rem;
      padding: 0rem .4rem;
    	margin-top: 1rem;
    	margin-bottom: 1rem;
    }
    
    @include applyBetweenWidths($king, $beekeeper) {
      font-size: 1.25rem;
      padding: 0.2rem 1rem;
    
    }
    @include applyNarrowerThan($bishop) {
      font-size: 1rem;
      padding: 0.5rem .5rem; 
    }
    
    @include applyNarrowerThan($rook) {
      
    }

    &:hover {
      color: rgba(0,0,0, .6); 
      @include textShadow(mix($option, black, 90%), 1px, 2px, 1px);
      background-color: mix($option, white, 80%);} 
    }}
}

.landing {
	position: absolute;
	
	height: 17rem;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: $bg_dark;
	padding: 5rem 2rem .5rem 2rem;
  overflow: hidden;
	@include applyNarrowerThan($bishop) {
		padding-top: 2rem;
		height: 15.5rem;}
		
	@include applyBetweenWidths($bishop, $king) {
	height: 17rem; }
	
	& h1, & h2, & img {
    display: block;
    color: white;
    margin: .5rem auto;
    padding: 0;
    }
    
    & h2 {
     @include applyNarrowerThan($king) {
       font-size: 1.3rem;    }
       
     @include applyNarrowerThan($bishop) {
      max-width: 60%; }}
    
  &:before {
  @extend %icon; 
  content: "Globe";
  font-size: 24rem;
  position: absolute;
  color: rbga(255,255,255,.1);
  top: -3rem; 
  left: -6rem;
   @include textShadow($option, 3px, 3px, 12px);
   
   @include applyBetweenWidths($king, $beekeeper) { 
    font-size: 22rem;
    left: -8rem;
   }
   @include applyNarrowerThan($king) {
    font-size: 20rem;
    top: -2rem;
    left: -11rem; }}}
  

main {
	border: .125rem $bg_dark solid;
	border-top-width: .5rem;
	background-color: $bg_dark;
	border-bottom-width: .5rem;
	position: absolute;
	top: 19.6rem;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 2rem;
	padding-top: 0;
	overflow: hidden;
  @include applyBetweenWidths($king, $beekeeper) {
    top: 19.6rem;
  }
	
	@include applyNarrowerThan($king) {
	 top: 19.25rem;
	}
	
	@include applyNarrowerThan($bishop) {
	top: 18.5rem; }
}

section {
	background-color: $option;
  padding: 2rem;
  margin-top: 1rem;
  height: 120%;
  overflow: auto;
 
	 & header {
  	height: 100%;
  	width: 15rem;
  	float: left;
  	position: relative;
  	text-align: center;
   & h1 {
	   margin-bottom: .25rem; }
	   
	 & h2 {
	 margin-top: .25rem;
	 font-size: 2rem; }

  @extend %vertSeamAfter; }
  
}