#container {
	border: thin solid #BBB;
	background-color: #CCC;
	border-radius: 10px;
	max-width: 610px;
	margin: 0 auto;

}


.msn_test {
	border: thin solid black;
	border-radius: 10px;
	margin: .25em;
	float: left;
	min-height: 5em;
	box-sizing: border-box;
	padding: 1em;
	z-index: 2;
}

.msn_test .wrapper, .msn_test p {
	position: relative;
}

.msn_test .wrapper {
	-webkit-column-count: 2;
}

.msn_test span {
	box-sizing: border-box;
	position: absolute;
	top: -.5rem;
	left: -1rem;
	padding: 1em;
	font-size: .75rem;
	color: #EEE;
	border-radius: 100%;
	border: .25em double black;
  -moz-box-shadow:    1px 0px 3px 1px #222;
  -webkit-box-shadow: 1px 0px 3px 1px #222;
  box-shadow:         1px 0px 3px 1px #222;
	
}


.msn_test p:first-of-type {
	text-indent: 2em;
}
.lt_blue {
	background-color: #AAE;
}


.lt_green {
  background-color: #AEA;
}

.lt_red {
  background-color: #EAA;
}

.blue {
  background-color: #AAC;
}

.red {
  background-color: #CAA;
}

.green {
  background-color: #ACA;
}


.mauve {
  background-color: #CAC;
}

.lt_mauve {
  background-color: #EAE;
}

.lt_teal {
  background-color: #AEE;
}

.teal {
  background-color: #ACC;
}

.lt_yellow {
  background-color: #EEA;
}

.yellow {
  background-color: #CCA;
}

.col1 {
	width: 30%;
	width: calc(33% - 16px);
}

.col2 {
	width: 63%;
	width: calc(66% - 16px);
}

.col3 {
	width: 96%;
	width: calc(100% - 16px);
}

.story1padded {
	height: 5.75em;
}

.story2 {
	height: 10rem;
	padding-top: 4rem;
	font-size: 2rem; 
}

.story3 {
	height: 15rem;
}

.story3 span {
	display: block;
}

.story3point5 {
	height: 17rem;
}

.story4 {
	height: 21rem;
}
.escobar {
	position: relative;
	top: 0;
	left: 100%;
	width: 50%;
	height: 105%;
	-webkit-transform: rotate(30deg);
	-webkit-transform-origin: top left;
	z-index: 1;
}



.invisible {
	background-color: none !important;
	color: none !important;
	border: none !important;
	/* Important is important as this will often override unexpected styles. */
}