@import url(http://fonts.googleapis.com/css?family=Roboto:400,500|Nobile);
@font-face {
  font-family: 'because_icons';
  src: url("../fonts/be_cause.eot");
  src: url("../fonts/be_cause.eot?#iefix") format("embedded-opentype"), url("../fonts/be_cause.woff") format("woff"), url("../fonts/be_cause.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

#menuButton, .landing:before, .icon {
  font-family: because_icons;
  font-feature-settings: "liga","dlig";
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: block; }

html {
  font-family: 'Nobile', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1rem; }

.navItem a, .leftBlock h1, .leftBlock h2, section.welcome .message, .textWidget label {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem; }

/* Note that 2/6 = 1/3, 3/6 = 1/2, 4/6 = 2/3 and 6/6 = 1. */
/* Note that 2/8 = 1/4, 4/8 = 1/2, 6/8 = 3/4 and 8/8 = 1. */
/* As this is based on fractions we are not concerning ourselves with the non-integral version of 99/100. */
/* Note that 2/10 = 1/5, 4/10 = 2/5, 5/10 = 1/2, 6/10 = 3/5, 8/10 = 4/5 and 10/10 = 1. */
/* Honestly, this is so close to nineTenths that there's no real value to including it, but it's here for completion. */
/* Ratios */
section header:after {
  opacity: .1;
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  border-top: none;
  border-bottom: none;
  left: 100%;
  border-left: 2px solid white;
  border-right: 2px solid black; }

footer:before {
  opacity: .1;
  position: absolute;
  content: '';
  width: 100%;
  height: 0;
  left: 0;
  border-top: none;
  border-bottom: none;
  top: 0;
  border-top: 3px solid black;
  border-bottom: 3px solid white; }

/*  @import "reset";  Updated to include setting body and * text to font-family: opens sans */
/*  @import "reset_final";  With reset removed there's no need for reset final. */
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/*===========================================================================
CUSTOM - Declarations for current project branding HTML and Body tags
   ========================================================================== */
html {
  background-color: #333333;
  height: 99%;
  font-size: 16px; }
  @media (max-width: 1000px) {
    html {
      font-size: 14px; } }

body {
  height: 100%;
  margin: 0;
  /* Moved here to clean up from original Normalize. */ }

.navbar, .landing, main, footer, #menuButton {
  box-sizing: border-box; }

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* _structure.scss  provides structural elements for layout. */
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  text-align: center;
  height: 4rem;
  padding-top: 1rem;
  font-weight: 800;
  font-size: .9rem; }
  @media (min-width: 400px) {
    footer {
      height: 2rem;
      padding-top: .75rem; } }

/* Miscelaneous sctructural pieces with no major impact or logic */
/*Note that minimal nesting is used throughout for maintenance purposes. */
.navbar {
  /*Key Definition:  A justify aligned grid on anything wider than palm.  A hidden (icon summoned) top bar on palm */
  /*Define the palm perspective as default to allow for less work on palm CPUs */
  /*Define the >palm perspective */ }
  @media (max-width: 500px) {
    .navbar {
      position: absolute;
      z-index: 90;
      left: 0;
      right: 0;
      background-color: #333333;
      transition: all 1s ease-out;
      top: 4rem;
      overflow-y: scroll;
      padding: 1rem 0; } }
  @media (max-width: 500px) {
    .navbar.closed {
      top: -26rem; } }
  @media (min-width: 599px) {
    .navbar {
      display: block;
      width: 100%;
      font-size: 0.1px;
      text-align: justify;
      padding: .9rem 2rem .8rem 2rem;
      /* Borders */
      border: 3px #5b5b5b double;
      border-left: none;
      border-right: none; }
      .navbar:after {
        /* Used to create the Justify grid */
        display: inline-block;
        width: 100%;
        content: ''; } }
  @media (min-width: 1000px) {
    .navbar {
      padding-top: .8rem;
      padding-right: 2rem;
      padding-bottom: .8rem;
      padding-left: -2rem; } }

.navItem {
  /* individual List Items are *only* Containers for buttons.
  /*Key Definition */
  list-style: none;
  margin: 0;
  padding: 0; }
  @media (min-width: 599px) {
    .navItem {
      /* Turn on inline for anything wider than a palm device */
      display: inline-block; } }

.navItem a {
  /* navItem Anchors are buttons. */
  /*key definition */
  position: relative;
  /* Soap Bar Base */
  background-color: #99edc5;
  border: 2px solid #1e2f27;
  border-top-color: #adf0d0;
  border-left: none;
  border-right: none;
  border-radius: 3%;
  /* Provide Soap Bar text */
  color: rgba(0, 0, 0, 0.4);
  line-height: 1rem;
  /* Grab font-face and a few other key definitions */
  font-weight: 800;
  /* Override GLOBAL weight for the buttons, font-size handled in MQs */
  font-size: 1.25rem;
  /*default padding for most settings, good width and height */
  padding: .25rem .5rem;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 0px 0px #99edc5;
  /* Invisible text-shadow makes the transition sexier. */
  transition: all .25s; }
  @media (max-width: 500px) {
    .navItem a {
      display: block;
      margin: 0 .5rem;
      padding-top: .375rem;
      padding-bottom: .375rem; } }
  .navItem a:hover, .navItem a:active {
    /* Define the hover state: raised text and a slightly lighter bg */
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 2px 1px #89d5b1;
    background-color: #adf0d0; }
  @media (min-width: 599px) {
    .navItem a {
      font-size: .9rem;
      padding: .5rem .3rem; } }
  @media (min-width: 798px) {
    .navItem a {
      font-size: 1.25rem;
      padding: .3rem .4rem;
      margin-top: 1rem;
      margin-bottom: 1rem; } }
  @media (min-width: 1000px) {
    .navItem a {
      font-size: 1.25rem;
      padding: 0.2rem 1rem; } }
  @media (min-width: 1500px) {
    .navItem a {
      padding: .125rem 2rem; } }

#menuButton {
  font-size: 1.25rem;
  z-index: 200;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 3.9rem;
  left: 50%;
  margin-left: -1.5rem;
  width: 3rem;
  text-align: center;
  height: 2rem;
  padding-top: .25rem;
  background-color: #99edc5;
  border-radius: 25% 25% 0% 0%;
  border-top: 2px solid #7abd9d;
  /*	border-bottom: 2px solid mix($option, black, 20%); */
  text-shadow: 0 0 0 #89d5b1; }
  #menuButton:hover, #menuButton:active {
    /* Define the hover state: raised text and a slightly lighter bg */
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 2px 1px #89d5b1;
    background-color: #adf0d0; }
  @media (min-width: 500px) {
    #menuButton {
      display: none; } }

main {
  position: absolute;
  padding: 0;
  top: 6rem;
  bottom: 6rem;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden; }
  @media (min-width: 500px) {
    main {
      padding: 1rem;
      padding-top: 0;
      left: .25rem;
      right: .25rem;
      bottom: 2.5rem;
      top: 18rem; } }
  @media (min-width: 1000px) {
    main {
      top: 16rem; } }
  main.opened {
    top: 6.25rem; }
  main.locked {
    overflow: hidden; }
    main.locked section {
      height: 100%;
      max-height: 100%; }
      @media (min-width: 500px) {
        main.locked section {
          margin-bottom: 2rem;
          height: 110%;
          max-height: 110%; } }
    main.locked .rightBlock {
      overflow: auto;
      max-height: 90%; }

section {
  position: relative;
  background-color: #99edc5;
  padding: 0rem;
  margin-top: 3.25rem;
  height: 95%; }
  @media (min-width: 500px) {
    section {
      height: 100%;
      margin-top: 1rem; } }
  section header {
    top: 0;
    left: 0;
    height: 100%;
    width: 9.5rem;
    float: left;
    position: absolute;
    text-align: center; }
    @media (min-width: 500px) {
      section header {
        width: 18rem; } }
    section header h1 {
      font-size: 1.5rem; }
    section header h2 {
      margin-top: .25rem; }

.leftBlock {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 9rem;
  margin-left: -4.5rem; }
  @media (min-width: 500px) {
    .leftBlock {
      width: 12rem;
      margin-left: -7rem; } }
  .leftBlock h1, .leftBlock h2 {
    font-weight: 800;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.3); }
  @media (min-width: 500px) {
    .leftBlock h1 {
      font-size: 2rem; } }
  @media (min-width: 500px) {
    .leftBlock h2 {
      font-size: 1.5rem; } }
  .leftBlock .intro {
    text-align: justify; }

.rightBlock {
  position: absolute;
  top: 50%;
  left: 9.25rem;
  right: .25rem;
  padding: 0 1rem; }
  @media (min-width: 500px) {
    .rightBlock {
      left: 18.5rem;
      right: 1rem; } }
  .rightBlock h3 {
    margin: 0;
    padding: 0; }

section.welcome {
  background-color: transparent; }
  section.welcome .message {
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 2rem; }
    @media (min-width: 798px) {
      section.welcome .message {
        font-size: 2rem; } }
    @media (min-width: 500px) {
      section.welcome .message {
        bottom: 6rem; } }
    @media (min-width: 1250px) {
      section.welcome .message {
        bottom: 4rem; } }
  section.welcome ul {
    padding-left: 0;
    margin: .25rem 0 2rem 0; }
    @media (min-width: 500px) {
      section.welcome ul {
        margin-bottom: 0; } }
  section.welcome li.navItem {
    margin-top: 2rem; }
    @media (min-width: 500px) {
      section.welcome li.navItem {
        margin-top: 0; } }
    section.welcome li.navItem a {
      display: inline; }

section dt {
  font-weight: 600;
  margin-top: 1rem; }
  section dt:first-of-type {
    margin-top: 0rem; }
  section dt:after {
    content: ":"; }

.form {
  background-color: #d6f7e7; }
  @media (min-width: 500px) {
    .form {
      border: 10px solid #99edc5;
      border-top: none;
      border-bottom: none; } }

.landing {
  /* Key Definition */
  /* Handheld-out */
  transition: all .3s;
  height: 7rem;
  width: 100%;
  position: relative;
  text-align: center;
  padding: 1rem 2rem .5rem 2rem;
  overflow: hidden;
  /* Adjust for non-palm devices */ }
  @media (min-width: 500px) {
    .landing {
      height: 14rem; } }
  @media (min-width: 1000px) {
    .landing {
      height: 13rem; } }
  .landing h1, .landing h2, .landing img {
    display: block;
    margin: .5rem auto;
    padding: 0; }
  .landing h1, .landing h2 {
    color: white; }
  .landing h1 {
    font-size: 1.1rem;
    text-align: left;
    margin-left: 1.5rem;
    margin-top: -.25rem; }
    @media (min-width: 500px) {
      .landing h1 {
        text-align: center;
        margin-left: auto;
        margin-top: 1rem;
        font-size: 1.5rem; } }
  .landing h2 {
    margin-left: -1.25rem;
    margin-top: -.25rem;
    text-indent: 2.75rem;
    font-size: .9rem;
    line-height: 1.25rem;
    text-align: left; }
    @media (min-width: 500px) {
      .landing h2 {
        text-align: center;
        margin-left: auto;
        font-size: 1rem;
        margin-top: -.25rem;
        max-width: 60%; } }
    @media (min-width: 1000px) {
      .landing h2 {
        font-size: 1.1rem;
        margin-top: 1rem;
        max-width: 90%; } }
  .landing img {
    display: none; }
    @media (min-width: 500px) {
      .landing img {
        display: block; } }
  .landing:before {
    /*Globe watermark */
    /*This is a SASS Workaround as @extends fail within media queries currently */
    content: url("/resources/images/logo-32.png");
    position: absolute;
    top: .5rem;
    left: .5rem; }
    @media (min-width: 500px) {
      .landing:before {
        content: "Globe";
        font-size: 20rem;
        top: -2rem;
        left: -11rem;
        text-shadow: 3px 3px 12px #99edc5; } }
    @media (min-width: 1500px) {
      .landing:before {
        font-size: 24rem;
        left: -8rem;
        top: -3rem; } }
    @media (min-width: 1000px) {
      .landing:before {
        font-size: 20rem;
        top: -2rem;
        left: -11rem; } }

/* Opened: The landing module in the expanded view. */
.landing.opened {
  height: 5rem; }
  @media (min-width: 500px) {
    .landing.opened {
      height: 3rem;
      padding: .25rem 1rem;
      text-align: left; } }
  .landing.opened .logo {
    float: right;
    margin-top: -.1rem; }
    @media (min-width: 1000px) {
      .landing.opened .logo {
        margin-top: -.5rem; } }
  .landing.opened h1 {
    float: left;
    margin-right: 1rem;
    margin-left: .5rem; }
    @media (min-width: 1000px) {
      .landing.opened h1 {
        margin-top: -.1rem; } }
  .landing.opened h2 {
    margin-top: .5rem;
    padding-top: 0;
    max-width: 80%;
    font-size: .75rem; }
  @media (min-width: 1000px) {
    .landing.opened {
      padding-top: 1.15rem; } }
  .landing.opened:before {
    content: ""; }

.textWidget {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  border-radius: 3px;
  border-top: 1px solid #a3eeca;
  border-bottom: 1px solid #89d5b1;
  background-color: #99edc5;
  font-weight: 800;
  text-align: center; }
  .textWidget label {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 1.25rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.3); }
    @media (min-width: 500px) {
      .textWidget label {
        font-size: 1.75rem; } }
  .textWidget input {
    width: 98%;
    font-size: 1.25rem;
    box-sizing: border-box;
    padding: .25rem 1rem 0;
    margin-bottom: .5rem; }
    @media (min-width: 500px) {
      .textWidget input {
        font-size: 1.75rem; } }
    .textWidget input:focus {
      color: #a3eeca; }
      .textWidget input:focus::-webkit-input-placeholder {
        color: transparent; }
      .textWidget input:focus::-moz-input-placeholder {
        color: transparent; }
      .textWidget input:focus:-moz-input-placeholder {
        color: transparent; }
      .textWidget input:focus:-ms-input-placeholder {
        color: transparent; }
      .textWidget input:focus::input-placeholder {
        color: transparent; }

.submitButton {
  border-top: 1px solid #a3eeca;
  border-bottom: 1px solid #89d5b1;
  border-left: none;
  border-right: none;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
  padding: 1rem;
  background-color: #99edc5;
  width: 99%;
  text-align: center;
  line-height: 2.2rem;
  border-radius: .6rem;
  text-decoration: none;
  text-shadow: none;
  backface-visibility: hidden;
  appearance: none;
  margin-bottom: 1rem; }
  @media (min-width: 500px) {
    .submitButton {
      font-size: 1.5rem; } }
  @media (min-width: 1000px) {
    .submitButton {
      padding: 2rem;
      border-radius: .375rem;
      padding: 1rem; } }

.formFoot {
  margin-bottom: 2rem;
  text-align: center; }

/* _appearances.scss, provides styling for classes. */
.callout {
  color: #5b8e76;
  font-size: 110%;
  font-weight: 600; }

.landing .callout {
  color: #99edc5;
  text-shadow: 1px 1px 1px #4c7662; }
